@font-face{
    font-family: opensans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family: opensansbold;
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

*{
    font-family: opensans;
    cursor: pointer;
}
.top-header{
    background-color: #7BE08B;
    padding: 7px 50px;
}
.top-header .academyname h6{
    font-size: 18px;
    font-weight: bold;
    color: #00242B;
}
.top-header .social i{
    font-size: 18px;
    color: #fff;
    margin: 0 6px;
}
.top-header .social span a{
    text-decoration: none;
    color: #00242B;
}

.navbar{
    padding: 8px 20%;
    background: #00242B;
}
.navbar-brand img{
    width: 200px;
}
.nav-item a{
    color: #fff !important;
    font-size: 18px;
    margin: 9px;
}

.navbar-light .navbar-toggler{
    color: #fff !important;
}
.navbar-toggler{
    background-color: #7BE08B;
}
.navbar-toggler-icon{
    color: #fff;
}
.carousel{
    background-color: #7BE08B;
}
.carousel .carousel-item img{
    height: 500px;
}
.carousel-caption{
    background-color: black;
    opacity: .6;
    margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
       display: block !important;
    }
    .howWorkImage img{
       display: none;
    }
}
.start-about{
    background-image: url('../Images/about_back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 800px;
}
.about{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000;
    opacity: .6;
    padding: 5px 10%;
}
.about .about-heading h2{
    font-size: 70px;
    color: #7BE08B;
    font-family: opensansbold;
    margin-bottom: 50px;
    
}
.about-content1 , .about-content2 {
    color: #fff;
    
}
.about-content2 span{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    
}
.about-content2 h2{
    font-size: 35px;
    color: #7BE08B;
    margin:40px 0

}
.about-content ul li{
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.services-title h3{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #00242B;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: bold;
}
.services-title p{
    font-size: 20px;
}
.services{
    /* border: 2px solid #EB984E; */
    border-radius: 5px;
    margin: 10px 0;
    padding: 0;
}
.services img{
    width: 330px;
}
.services h3{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid #EB984E;
    border-radius: 10px;
    padding-bottom: 5px;
}
.services p{
    font-size: 16px;
}
.howWorkImage img{
    width: 450px;
    margin-top: 150px;
    
}
.howwork h1{
    font-size: 50px;
    font-weight: bold;
    color: #00242B;
    margin-top: 50px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}
.how-works-content h2{
    font-size: 30px;
    letter-spacing: 2px;
    border-bottom: 4px solid #EB984E;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.how-works-content ul li{
    font-size: 20px;
    line-height: 40px;
}
.how-works-content h3{
    margin: 40px 0;
}



/* popup button style */

.popupChat {
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 100px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 20px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #00242B;
  }
  .form-container h1{
      color: #fff;
      text-align: center;
      font-size: 18px;
  }
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] , .form-container textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    background-color: #00242B;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus , .form-container textarea {
    background-color: #00242B;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #EB984E;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:5px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }



/* Contact Area */

.contact-form{
    background: #7DE38D;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form h3{
    color: #00242B;
    font-size: 35px;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContact{
    float: right;
    background:#00242B;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}